header.header
  .header__top
    .header__top-inner.page-block
      .header__top-list
        .header__top-item Aнонимная упаковка
        .header__top-item Бесплатная доставка от 800 грн
        .header__top-item Доставка до дверей
        .header__top-item Покупай до 15:00 - вышлем в тот же день
      a(href='tel:0683181503').header__tel +38(068)318-15-03
  .header__inner
    .mobile-menu-overlay
    .mobile-menu
      .mobile-menu__inner
        .mobile-menu__close
          include ../../img/images/close.svg
        .mobile-menu__list
          .mobile-menu__item
            a(href='#').mobile-menu__link Секс-игрушки
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Секс-игрушки
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/anal.svg
                    span.mobile-menu__sub-link-txt Анальные игрушки
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vibro.svg
                    span.mobile-menu__sub-link-txt Вибромассажеры
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/other.svg
                    span.mobile-menu__sub-link-txt Средства по уходу и аксессуары для игрушек
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/balls.svg
                    span.mobile-menu__sub-link-txt Вагинальные шарики
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/masturbate.svg
                    span.mobile-menu__sub-link-txt Мастурбаторы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/dildo.svg
                    span.mobile-menu__sub-link-txt Фаллоимитаторы и дилдо
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/member.svg
                    span.mobile-menu__sub-link-txt Насадки на член
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/strap.svg
                    span.mobile-menu__sub-link-txt Страпоны
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/rings.svg
                    span.mobile-menu__sub-link-txt Эрекционные кольца
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vibro2.svg
                    span.mobile-menu__sub-link-txt Вибраторы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/electro.svg
                    span.mobile-menu__sub-link-txt Электростимуляция
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
          .mobile-menu__item
            a(href='#').mobile-menu__link Лубриканты
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Лубриканты
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/ass.svg
                    span.mobile-menu__sub-link-txt Анальный секс
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/lips.svg
                    span.mobile-menu__sub-link-txt Оральный секс
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vagina.svg
                    span.mobile-menu__sub-link-txt Вагинального секс
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/box.svg
                    span.mobile-menu__sub-link-txt Пробники
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Прелюдия
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Прелюдия
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/oil.svg
                    span.mobile-menu__sub-link-txt Массажные масла и лосьоны
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/romantic.svg
                    span.mobile-menu__sub-link-txt Романтическая атмосфера
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/stimulator.svg
                    span.mobile-menu__sub-link-txt Стимулирующие средства и пролонгаторы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/cosmetic.svg
                    span.mobile-menu__sub-link-txt Интимная косметика
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/games.svg
                    span.mobile-menu__sub-link-txt Игры, подарки, приколы, конфеты
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/packages.svg
                    span.mobile-menu__sub-link-txt Наборы
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Здоровье
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Здоровье
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vacuum.svg
                    span.mobile-menu__sub-link-txt Вакуумные и гидропомпы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/condom2.svg
                    span.mobile-menu__sub-link-txt Презервативы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/women-health.svg
                    span.mobile-menu__sub-link-txt Товары для женского здоровья
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/prostate.svg
                    span.mobile-menu__sub-link-txt Массажеры простаты
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/body.svg
                    span.mobile-menu__sub-link-txt Регулярный уход за телом
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/accessoires.svg
                    span.mobile-menu__sub-link-txt Экстендеры и аксессуары
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link БДСМ
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt БДСМ
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Белье
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Белье
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Распродажа
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Распродажа
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/accessoires2.svg
                    span.mobile-menu__sub-link-txt Белье и аксессуары
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/body.svg
                    span.mobile-menu__sub-link-txt Косметика и лубриканты
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vibro2.svg
                    span.mobile-menu__sub-link-txt Секс-игрушки
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
        .mobile-menu__bottom
          .site-btn.site-btn--black Регистрация
          .site-btn Вход
          .mobile-menu__lang
            a(href='#').mobile-menu__lang-item Рус
              include ../../img/images/menu-arrow.svg
    .header__middle.page-block
      .header__mobile-ico
        .header__mobile-menu
          include ../../img/images/mob-menu.svg
        .header__mobile-search
          include ../../img/images/mob-search.svg
      a(href='#').header__logo
        include ../../img/images/holodok_logo.svg
      .header__icons
        a(href='#').header__ico.header__ico--user
          include ../../img/images/user.svg
        a(href='#').header__ico
          span.header__ico--selected 1
          include ../../img/images/star.svg
        a(href='#').header__ico
          span.header__ico--basket 6
          include ../../img/images/basket.svg
    .header__bottom.page-block
      .header__nav
        .header__nav-overlay
        .header__link-list.header__nav-list
          .header__nav-item.is-hover
            a(href='#').header__link Секс-игрушки
            .drop-menu
              .drop-menu__inner.page-block
                .drop-menu__left
                  picture
                    source(srcset="./img/images/menu1.webp" type="image/webp")
                    img(src="./img/images/menu1.png" alt="img")
                .drop-menu__right
                  .custom-row
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/anal.svg
                        span.drop-menu__txt Анальные игрушки
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/vibro.svg
                        span.drop-menu__txt Вибромассажеры
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/other.svg
                        span.drop-menu__txt Средства по уходу и аксессуары для игрушек
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/balls.svg
                        span.drop-menu__txt Вагинальные шарики
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/masturbate.svg
                        span.drop-menu__txt Мастурбаторы
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/dildo.svg
                        span.drop-menu__txt Фаллоимитаторы и дилдо
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/member.svg
                        span.drop-menu__txt Насадки на член
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/strap.svg
                        span.drop-menu__txt Страпоны
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/rings.svg
                        span.drop-menu__txt Эрекционные кольца
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/vibro2.svg
                        span.drop-menu__txt Вибраторы
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/electro.svg
                        span.drop-menu__txt Электростимуляция
                  a(href='#').drop-menu__i Как пользоваться
          .header__nav-item.is-hover
            a(href='#').header__link Лубриканты
            .drop-menu
              .drop-menu__inner.page-block
                .drop-menu__left
                  picture
                    source(srcset="./img/images/menu2.webp" type="image/webp")
                    img(src="./img/images/menu2.png" alt="img")
                .drop-menu__right.drop-menu__right--pdt100
                  .custom-row
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/ass.svg
                        span.drop-menu__txt Анальный секс
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/lips.svg
                        span.drop-menu__txt Оральный секс
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/vagina.svg
                        span.drop-menu__txt Вагинальный секс
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/box.svg
                        span.drop-menu__txt Пробники
                  a(href='#').drop-menu__i Как пользоваться
          .header__nav-item.is-hover
            a(href='#').header__link Прелюдия
            .drop-menu
              .drop-menu__inner.page-block
                .drop-menu__left
                  picture
                    source(srcset="./img/images/menu3.webp" type="image/webp")
                    img(src="./img/images/menu3.png" alt="img")
                .drop-menu__right.drop-menu__right--pdt100
                  .custom-row
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/oil.svg
                        span.drop-menu__txt Массажные масла и лосьоны
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/romantic.svg
                        span.drop-menu__txt Романтическая атмосфера
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/other.svg
                        span.drop-menu__txt Стимулирующие средства и пролонгаторы
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/cosmetic.svg
                        span.drop-menu__txt Интимная косметика
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/games.svg
                        span.drop-menu__txt Игры, подарки, приколы, конфеты
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/packages.svg
                        span.drop-menu__txt Наборы
                  a(href='#').drop-menu__i Как пользоваться
          .header__nav-item.is-hover
            a(href='#').header__link Здоровье
            .drop-menu
              .drop-menu__inner.page-block
                .drop-menu__left
                  picture
                    source(srcset="./img/images/menu4.webp" type="image/webp")
                    img(src="./img/images/menu4.png" alt="img")
                .drop-menu__right.drop-menu__right--pdt100
                  .custom-row
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/vacuum.svg
                        span.drop-menu__txt Вакуумные и гидропомпы
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/condom.svg
                        span.drop-menu__txt Презервативы
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/women-health.svg
                        span.drop-menu__txt Товары для женского здоровья
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/prostate2.svg
                        span.drop-menu__txt Массажеры простаты
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/body.svg
                        span.drop-menu__txt Регулярный уход за телом
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/accessoires.svg
                        span.drop-menu__txt Экстендеры и аксессуары
                  a(href='#').drop-menu__i Как пользоваться
          .header__nav-item
            a(href='#').header__link БДСМ
          .header__nav-item.is-hover
            a(href='#').header__link Белье
            .drop-menu
              .drop-menu__inner.page-block
                .drop-menu__left
                  picture
                    source(srcset="./img/images/menu5.webp" type="image/webp")
                    img(src="./img/images/menu5.png" alt="img")
                .drop-menu__right.drop-menu__right--pdt100
                  .custom-row
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/accessoires2.svg
                        span.drop-menu__txt Эротические аксессуары
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/man-pants.svg
                        span.drop-menu__txt Эротическое мужское белье
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/bra.svg
                        span.drop-menu__txt Эротическое женское белье
                  a(href='#').drop-menu__i Как пользоваться
          .header__nav-item.is-hover
            a(href='#').header__link Распродажа
            .drop-menu
              .drop-menu__inner.page-block
                .drop-menu__left
                  picture
                    source(srcset="./img/images/menu5.webp" type="image/webp")
                    img(src="./img/images/menu5.png" alt="img")
                .drop-menu__right.drop-menu__right--pdt100
                  .custom-row
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/accessoires2.svg
                        span.drop-menu__txt Белье и аксессуары
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/body.svg
                        span.drop-menu__txt Косметика и лубриканты
                    .custom-col.custom-col--33
                      a(href='#').drop-menu__item
                        .drop-menu__ico
                          include ../../img/images/vibro2.svg
                        span.drop-menu__txt Секс-игрушки
                  a(href='#').drop-menu__i Как пользоваться
      .header__search
        a(href='#').header__search-ico
          include ../../img/images/search.svg
        a(href='#').header__search-name Поиск
    .header__bradcrumbs
      .header__bradcrumbs-inner.page-block
        .header__bradcrumbs-list
          a(href='#').header__bradcrumbs-item Секс игрушки
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Вибраторы
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Для точки G
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Вибраторы SVAKOM
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Двухсторонний вибратор для клитора и точки G SIREN SVAKOM (США)
    .header__sublinks
      .header__sublinks-list.page-block
        a(href='#').header__sublinks-item.active Все о товаре
        a(href='#').header__sublinks-item Доставка и оплата
        a(href='#').header__sublinks-item Отзывы (60)
        a(href='#').header__sublinks-item Похожие товары
        a(href='#').header__sublinks-item Статьи
        a(href='#').header__sublinks-item Характеристики товара



