header.header
  .header__top
    .header__top-inner.page-block
      .header__top-list
        .header__top-item Aнонимная упаковка
        .header__top-item Бесплатная доставка от 800 грн
        .header__top-item Доставка до дверей
        .header__top-item Покупай до 15:00 - вышлем в тот же день
      a(href='tel:+38(068)318-15-03').header__tel +38(068)318-15-03
  .header__inner.page-block
    .header__middle
      a(href='#').header__logo
        include ../../img/images/holodok_logo.svg
      .header__icons
        a(href='#').header__ico
          include ../../img/images/user.svg
        a(href='#').header__ico
          include ../../img/images/star.svg
        a(href='#').header__ico
          include ../../img/images/basket.svg
    .header__bottom
      .header__link-list
        a(href='#').header__link Секс-игрушки
        a(href='#').header__link Лубриканты
        a(href='#').header__link Прелюдия
        a(href='#').header__link Здоровье
        a(href='#').header__link БДСМ
        a(href='#').header__link Белье
        a(href='#').header__link Распродажа
      .header__search
        a(href='#').header__search-ico
          include ../../img/images/search.svg
        a(href='#').header__search-name Поиск



