header.header
  .header__top
    .header__top-inner.page-block
      .header__top-list
        .header__top-item Aнонимная упаковка
        .header__top-item Бесплатная доставка от 800 грн
        .header__top-item Доставка до дверей
        .header__top-item Покупай до 15:00 - вышлем в тот же день
      a(href='tel:+38(068)318-15-03').header__tel +38(068)318-15-03
  .header__inner
    .mobile-menu-overlay
    .mobile-menu
      .mobile-menu__inner
        .mobile-menu__close
          include ../../img/images/close.svg
        .mobile-menu__list
          .mobile-menu__item
            a(href='#').mobile-menu__link Секс-игрушки
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Секс-игрушки
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/anal.svg
                    span.mobile-menu__sub-link-txt Анальные игрушки
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vibro.svg
                    span.mobile-menu__sub-link-txt Вибромассажеры
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/other.svg
                    span.mobile-menu__sub-link-txt Средства по уходу и аксессуары для игрушек
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/balls.svg
                    span.mobile-menu__sub-link-txt Вагинальные шарики
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/masturbate.svg
                    span.mobile-menu__sub-link-txt Мастурбаторы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/dildo.svg
                    span.mobile-menu__sub-link-txt Фаллоимитаторы и дилдо
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/member.svg
                    span.mobile-menu__sub-link-txt Насадки на член
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/strap.svg
                    span.mobile-menu__sub-link-txt Страпоны
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/rings.svg
                    span.mobile-menu__sub-link-txt Эрекционные кольца
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vibro2.svg
                    span.mobile-menu__sub-link-txt Вибраторы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/electro.svg
                    span.mobile-menu__sub-link-txt Электростимуляция
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
          .mobile-menu__item
            a(href='#').mobile-menu__link Лубриканты
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Лубриканты
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/ass.svg
                    span.mobile-menu__sub-link-txt Анальный секс
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/lips.svg
                    span.mobile-menu__sub-link-txt Оральный секс
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vagina.svg
                    span.mobile-menu__sub-link-txt Вагинального секс
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/box.svg
                    span.mobile-menu__sub-link-txt Пробники
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Прелюдия
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Прелюдия
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/oil.svg
                    span.mobile-menu__sub-link-txt Массажные масла и лосьоны
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/romantic.svg
                    span.mobile-menu__sub-link-txt Романтическая атмосфера
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/stimulator.svg
                    span.mobile-menu__sub-link-txt Стимулирующие средства и пролонгаторы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/cosmetic.svg
                    span.mobile-menu__sub-link-txt Интимная косметика
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/games.svg
                    span.mobile-menu__sub-link-txt Игры, подарки, приколы, конфеты
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/packages.svg
                    span.mobile-menu__sub-link-txt Наборы
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Здоровье
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Здоровье
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vacuum.svg
                    span.mobile-menu__sub-link-txt Вакуумные и гидропомпы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/condom.svg
                    span.mobile-menu__sub-link-txt Презервативы
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/women-health.svg
                    span.mobile-menu__sub-link-txt Товары для женского здоровья
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/prostate.svg
                    span.mobile-menu__sub-link-txt Массажеры простаты
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/body.svg
                    span.mobile-menu__sub-link-txt Регулярный уход за телом
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/accessoires.svg
                    span.mobile-menu__sub-link-txt Экстендеры и аксессуары
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link БДСМ
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt БДСМ
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Белье
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Белье
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
          .mobile-menu__item
            a(href='#').mobile-menu__link Распродажа
            .mobile-menu__link-arrow
              include ../../img/images/menu-arrow.svg
            .mobile-menu__submenu
              .mobile-menu__sub-inner
                .mobile-menu__back
                  include ../../img/images/back-arrow.svg
                  span.mobile-menu__back-txt Распродажа
                .mobile-menu__sub-list
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/accessoires2.svg
                    span.mobile-menu__sub-link-txt Белье и аксессуары
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/body.svg
                    span.mobile-menu__sub-link-txt Косметика и лубриканты
                  a(href='#').mobile-menu__sub-link
                    .mobile-menu__sub-link-ico
                      include ../../img/images/vibro2.svg
                    span.mobile-menu__sub-link-txt Секс-игрушки
                .site-btn-wrap
                  a(href='#').site-btn Как пользоваться
            .mobile-menu__subitem
              a(href="#").mobile-menu__sublink
        .mobile-menu__bottom
          .site-btn.site-btn--black Регистрация
          .site-btn Вход
          .mobile-menu__lang
            a(href='#').mobile-menu__lang-item Рус
              include ../../img/images/menu-arrow.svg
    .header__middle.page-block
      .header__mobile-ico
        .header__mobile-menu
          include ../../img/images/mob-menu.svg
        .header__mobile-search
          include ../../img/images/mob-search.svg
      a(href='#').header__logo
        include ../../img/images/holodok_logo.svg
      .header__icons
        a(href='#').header__ico.header__ico--user
          include ../../img/images/user.svg
        a(href='#').header__ico
          span.header__ico--selected 1
          include ../../img/images/star.svg
        a(href='#').header__ico
          span.header__ico--basket 6
          include ../../img/images/basket.svg
    .header__bottom.page-block
      .header__link-list
        a(href='#').header__link Секс-игрушки
        a(href='#').header__link Лубриканты
        a(href='#').header__link Прелюдия
        a(href='#').header__link Здоровье
        a(href='#').header__link БДСМ
        a(href='#').header__link Белье
        a(href='#').header__link Распродажа
      .header__search
        a(href='#').header__search-ico
          include ../../img/images/search.svg
        a(href='#').header__search-name Поиск
    .header__bradcrumbs
      .header__bradcrumbs-inner.page-block
        .header__bradcrumbs-list
          a(href='#').header__bradcrumbs-item Секс игрушки
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Вибраторы
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Для точки G
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Вибраторы SVAKOM
          .header__bradcrumbs-arrow
            include ../../img/images/arrow.svg
          a(href='#').header__bradcrumbs-item Двухсторонний вибратор для клитора и точки G SIREN SVAKOM (США)
    .header__sublinks
      .header__sublinks-list.page-block
        a(href='#').header__sublinks-item.active Все о товаре
        a(href='#').header__sublinks-item Доставка и оплата
        a(href='#').header__sublinks-item Отзывы (60)
        a(href='#').header__sublinks-item Похожие товары
        a(href='#').header__sublinks-item Статьи
        a(href='#').header__sublinks-item Характеристики товара



