//include _mixins

block vars

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(meta name="viewport" content="width=device-width, initial-scale=1")
    title holodok
    meta(name="description", content='description content')

    //favicon
    link(rel="icon" href="./img/favicon/favicon.ico" type="image/x-icon")


    link(rel='stylesheet', href='./css/libs.min.css')
    link(rel='stylesheet', href='./css/style.min.css')

    //link(rel="preload" href="./fonts/Roboto-LightItalic.woff2" as="font" type="font/woff2" crossorigin)

  body(class="page " + pageClass)

    include modules/_header

    main.page__content
      block content

    include modules/_footer
    include modules/_popup
  block scripts
    script(src='js/libs.min.js')
    script(src='js/main.min.js')
