extends _layout

block vars
  - var pageTitle = "about";
  - var pageClass = "about";
  - var pageActive = "about";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 О нас
          h2 Делать клиентов счастливыми - <br>вот что заставляет нас улыбаться. <br>И вот как мы это делаем:
          p Локальная команда из 24 сотрудников, которые проконсультируют вас, а также упакуют, подберут и отправят ваши заказы. Наша служба поддержки клиентов готова помочь вам с 9:00 до 21:00 каждый день, кроме воскресенья. На нашем сайте более 4 000 товаров, среди которых Вы сможете  выбрать подходящую игрушку.
          h2 Наша цель
          p Наша цель - создать онлайн секс-шоп, который будет первым, что ушел от понятия “для взрослых”. Единственное что вас ограничивает в нашем магазине - это возраст, вам должно быть 18+. В остальном мы для всех и создали магазин о свободе, понимании своего тела, и тела партнера. Магазин о том, как получить удовольствие и как его доставить другому человеку, или группе людей. А самое главное - к жизни нельзя относиться слишком серьезно, жизнь - игра.
          h2 Что мы делаем
          p Мы поставляем уникальные инновационные секс-игрушки и товары для сексуального благополучия и объединились с некоторыми из самых веселых и захватывающих брендов, чтобы подарить вам самое лучшее из сексуального счастья. Вот лишь некоторые из нашего состава:<br><br>
          p Fifty Shades of Grey <br><br>
          p Lovehoney<br><br>
          p Happy Rabbit<br><br>
          p Svakom<br><br>
          p Orgie



