extends _layout

block vars
  - var pageTitle = "catalog";
  - var pageClass = "catalog";
  - var pageActive = "catalog";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .page-title Каталог
        .custom-row
          .custom-col.custom-col--25
            .catalog-item
              .catalog-item__img
                include ../img/images/catalog-toys.svg
              .catalog-item__title Секс-игрушки
              .catalog-item__list
                a(href="#").catalog-item__link Анальные игрушки
                a(href="#").catalog-item__link Вагинальные шарики
                a(href="#").catalog-item__link Вибраторы
                a(href="#").catalog-item__link Вибромассажеры
                a(href="#").catalog-item__link Мастурбаторы
                a(href="#").catalog-item__link Насадки на член
                a(href="#").catalog-item__link Средства по уходу и аксессуары для игрушек
                a(href="#").catalog-item__link Страпоны
                a(href="#").catalog-item__link Фаллоимитаторы и дилдо
                a(href="#").catalog-item__link Электростимуляция
                a(href="#").catalog-item__link Эрекционные кольца
          .custom-col.custom-col--25
            .catalog-item
              .catalog-item__img
                include ../img/images/catalog-lubricants.svg
              .catalog-item__title Лубриканты
              .catalog-item__list
                a(href="#").catalog-item__link Для анального секса
                a(href="#").catalog-item__link Для вагинального секса
                a(href="#").catalog-item__link Для орального секса
                a(href="#").catalog-item__link Пробники
          .custom-col.custom-col--25
            .catalog-item
              .catalog-item__img
                include ../img/images/catalog-candles.svg
              .catalog-item__title Прелюдия
              .catalog-item__list
                a(href="#").catalog-item__link Массажные масла и лосьоны
                a(href="#").catalog-item__link Романтическая атмосфера
                a(href="#").catalog-item__link Стимулирующие средства и пролонгаторы
                a(href="#").catalog-item__link Интимная косметика
                a(href="#").catalog-item__link Игры, подарки, приколы, конфеты
                a(href="#").catalog-item__link Наборы
          .custom-col.custom-col--25
            .catalog-item
              .catalog-item__img
                include ../img/images/catalog-health.svg
              .catalog-item__title Здоровье
              .catalog-item__list
                a(href="#").catalog-item__link Вакуумные и гидропомпы
                a(href="#").catalog-item__link Массажеры простаты
                a(href="#").catalog-item__link Презервативы
                a(href="#").catalog-item__link Регулярный уход за телом
                a(href="#").catalog-item__link Товары для женского здоровья
                a(href="#").catalog-item__link Экстендеры и аксессуары
          .custom-col.custom-col--25
            .catalog-item
              .catalog-item__img
                include ../img/images/catalog-bdsm.svg
              .catalog-item__title БДСМ
              .catalog-item__list
                a(href="#").catalog-item__link Аксессуары BDSM
          .custom-col.custom-col--25
            .catalog-item
              .catalog-item__img
                include ../img/images/catalog-underwear.svg
              .catalog-item__title Белье
              .catalog-item__list
                a(href="#").catalog-item__link Эротические аксессуары
                a(href="#").catalog-item__link Эротическое женское белье
                a(href="#").catalog-item__link Эротическое мужское белье
          .custom-col.custom-col--25
            .catalog-item
              .catalog-item__img
                include ../img/images/catalog-sale.svg
              .catalog-item__title Распродажа
              .catalog-item__list
                a(href="#").catalog-item__link Белье и аксессуары
                a(href="#").catalog-item__link Косметика и лубриканты
                a(href="#").catalog-item__link Секс-игрушки
