extends _layout

block vars
  - var pageTitle = "confirm";
  - var pageClass = "confirm";
  - var pageActive = "confirm";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .confirm-block
          .confirm-block__title ух...
          .confirm-block__txt регистрация прошла успешно
          a(href="index.html").confirm-block__btn На главную
