extends _layout

block vars
  - var pageTitle = "contacts";
  - var pageClass = "contacts";
  - var pageActive = "contacts";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 Контакты
          a(href="#") Киев, прорезная, 17
          p Работаем без выходных  с 9 до 18
          a(href="tel:+38(068)318-15-03").mgt +38(068)318-15-03
          a(href="mailto:support@holodok.shop") support@holodok.shop
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.609771610159!2d30.514895515731382!3d50.44836887947508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce575dd299af%3A0xaac04ec637b3f840!2z0LLRg9C70LjRhtGPINCf0YDQvtGA0ZbQt9C90LAsIDE3LCDQmtC40ZfQsiwgMDIwMDA!5e0!3m2!1suk!2sua!4v1615990886418!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")

