extends _layout

block vars
  - var pageTitle = "faq";
  - var pageClass = "faq";
  - var pageActive = "faq";
block content
  .main
    .main
      .custom-block.custom-block--top
        .custom-block__inner.page-block.page-block--pd20
          .page-title.page-title--align-start ТОП контрацептивов
          .block-760
            .homepage-title Самые эффективные способы контрацепции:
            picture.block-760__picture.block-760__picture--top
              source(srcset="./img/images/contraceptives.webp" type="image/webp")
              img(src="./img/images/contraceptives.png" alt="img")
            .homepage-title Подобрать подходящее противозачаточное средство может оказаться не такой простой задачей, учитывая имеющийся на рынке огромный выбор.
            p.block-760__txt Национальная система здравоохранения Великобритании (NHS) предлагает своим пациентам 15 разнообразных контрацептивов, но ни один из них не является на 100% эффективным.<br><br>
            p.block-760__txt Так, например, Комиссия по рекламным стандартам Великобритании запретила размещенную в "Фейсбуке" рекламу приложения Natural Cycles ("Естественные циклы") после того, как было выявлено, что реклама вводит потребителя в заблуждение.<br><br>
            p.block-760__txt В рекламе приложение, предсказывающее дни восприимчивости женского организма к оплодотворению, характеризовалось как высокоточное и прошедшее клинические испытания.<br>Комиссия сочла, что компания-разработчик Natural Cycles преувеличивает эффективность продукта. Известны как минимум несколько случаев нежелательных беременностей у женщин, пользовавшихся приложением.<br><br>
            p.block-760__txt Эффективность некоторых контрацептивов достигает 99%, однако у других она едва превышает 70%.<br><br>
            p.block-760__txt Шведский физик совершила революцию в контроле над рождаемостью <br>Противозачаточные средства: верный помощник или хитрый предатель? <br>Гормональные уколы - будущее мужской контрацепции?<br>Эффективность контрацепции зависит от того, какие средства вы применяете, и от того, применяете ли вы их правильно. NHS рекомендует для максимальной эффективности тщательно следовать инструкции по применению.
            picture.block-760__picture
              source(srcset="./img/images/termometr.webp" type="image/webp")
              img(src="./img/images/termometr.png" alt="img")
            .homepage-title Естественное планирование семьи
            p.block-760__txt Естественное планирование семьи или осознание способности к оплодотворению означает тщательное отслеживание менструального цикла и признаков, свидетельствующих о максимальной предрасположенности женского организма к оплодотворению.
            p.block-760__txt При скрупулезном следовании этому методу он может быть на 99% эффективным, однако при типичном использовании эффективность его снижается примерно до 76%.
            p.block-760__txt Этот метод не имеет никаких побочных эффектов. "Осознание способности к оплодотворению" лежит в основе многочисленных приложений для смартфонов, таких как Natural Cycles, средняя эффективность которого оценивается создателями в 93%.
            picture.block-760__picture
              source(srcset="./img/images/condoms.webp" type="image/webp")
              img(src="./img/images/condoms.png" alt="img")
            .homepage-title Презервативы
            p.block-760__txt Существуют два типа презервативов - мужские и женские.
            p.block-760__txt Презервативы - единственное противозачаточное средство, которое, кроме контроля над беременностью, является также средством защиты от многих распространяемых половым путем инфекций.
            p.block-760__txt Мужские презервативы считаются на 98% эффективными. Изготавливаются они из тонкого латекса, полиизопрена или полиуретана
            p.block-760__txt Есть несколько факторов, способных снизить эффективность презервативов. Среди них - основанные на маслах лубриканты (они могут повредить латексные или полиизопреновые презервативы), разрыв презерватива и антистоматитовые кремы.
            p.block-760__txt Женские презервативы эффективны на 95% и размещаются внутри влагалища.
            p.block-760__txt Они менее эффективны, так как могут порваться, а еще пенис может случайно оказаться между презервативом и стенкой влагалища.
      .custom-block
        .custom-block__inner.page-block
          .homepage-title Еще статьи
          .info-block.custom-row
            .custom-col.custom-col--25.custom-col--100
              .info-block__item
                .info-block__img
                  picture
                    source(srcset="./img/images/how1.webp" type="image/webp")
                    img(src="./img/images/how1.png" alt="img")
                .info-block__title Молочные продукты и секс
                .info-block__txt Да, вы угадали, будем разбираться в заблуждениях о сексе, пока ... Миф шестой: мёд и грецкие орехи...
            .custom-col.custom-col--25.custom-col--100
              .info-block__item
                .info-block__img
                  picture
                    source(srcset="./img/images/how2.webp" type="image/webp")
                    img(src="./img/images/how2.png" alt="img")
                .info-block__title Лучшие позы недели
                .info-block__txt Да, вы угадали, будем разбираться в заблуждениях о сексе, пока ... Миф шестой: мёд и грецкие орехи...
            .custom-col.custom-col--25.custom-col--100
              .info-block__item
                .info-block__img
                  picture
                    source(srcset="./img/images/how3.webp" type="image/webp")
                    img(src="./img/images/how3.png" alt="img")
                .info-block__title Контрацепция
                .info-block__txt Медики назвали 10 самых полезных продуктов в мире: перечень ...
            .custom-col.custom-col--25.custom-col--100
              .info-block__item
                .info-block__img
                  picture
                    source(srcset="./img/images/how4.webp" type="image/webp")
                    img(src="./img/images/how4.png" alt="img")
                .info-block__title Крутые места недели
                .info-block__txt Да, вы угадали, будем разбираться в заблуждениях о сексе, пока ... Миф шестой: мёд и грецкие орехи...
          a(href="#").show-more Показать еще
      .custom-block
        .custom-block__inner.page-block
          .homepage-title Рекомендуемые товары
          .product-list.custom-row
            .custom-col.custom-col--25
              .product-item
                .product-item__inner
                  .product-item__absolute-item.product-item__absolute-item--news Новинка
                  a(href="#").product-item__ico
                    include ../img/images/star.svg
                  .product-item__absolute-txt Товар заканчивается!
                  a(href="#").product-item__img
                    picture
                      source(srcset="./img/images/item1.webp" type="image/webp")
                      img(src="./img/images/item1.png" alt="img")
                  .product-item__txt Вибратор для клитора и зон G IRIS, сливовый SVAKOM (США)
                  .product-item__bottom
                    .product-item__rate
                      a(href="#").product-item__rate-i 23 отзыва
                    .product-item__price
                      .product-item__price-sale 5700 грн
                      .product-item__price-actual.accent 2700 грн
            .custom-col.custom-col--25
              .product-item
                .product-item__inner
                  a(href="#").product-item__ico
                    include ../img/images/star.svg
                  a(href="#").product-item__img
                    picture
                      source(srcset="./img/images/item2.webp" type="image/webp")
                      img(src="./img/images/item2.png" alt="img")
                  .product-item__txt T DREAM II С ПУЛЬТОМ LRS, МОЖНО ПОД ОДЕЖДУ
                  .product-item__bottom
                    .product-item__rate
                      a(href="#").product-item__rate-i
                    .product-item__price
                      .product-item__price-sale 4100 грн
                      .product-item__price-actual.accent 1999 грн
            .custom-col.custom-col--25
              .product-item
                .product-item__inner
                  .product-item__absolute-item.product-item__absolute-item--sale Распродажа
                  .product-item__ico
                    include ../img/images/star.svg
                  .product-item__absolute-txt Товар заканчивается!
                  a(href="#").product-item__img
                    picture
                      source(srcset="./img/images/item3.webp" type="image/webp")
                      img(src="./img/images/item3.png" alt="img")
                  .product-item__txt ВИБРАТОР ДЛЯ КЛИТОРА И ЗОН G IRIS, СЛИВОВЫЙ SVAKOM (США)
                  .product-item__bottom
                    .product-item__rate
                      a(href="#").product-item__rate-i
                    .product-item__price
                      .product-item__price-sale 780 грн
                      .product-item__price-actual.accent 599 грн
            .custom-col.custom-col--25
              .product-item
                .product-item__inner
                  .product-item__absolute-item.product-item__absolute-item--top-sale ТОП продаж
                  .product-item__ico
                    include ../img/images/star.svg
                  .product-item__absolute-txt Товар заканчивается!
                  a(href="#").product-item__img
                    picture
                      source(srcset="./img/images/item4.webp" type="image/webp")
                      img(src="./img/images/item4.png" alt="img")
                  .product-item__txt ВИБРАТОР ДЛЯ КЛИТОРА И ЗОН G IRIS, СЛИВОВЫЙ SVAKOM (США)
                  .product-item__bottom
                    .product-item__rate
                      a(href="#").product-item__rate-i 1 отзыв
                    .product-item__price
                      .product-item__price-sale 1999 грн
                      .product-item__price-actual.accent 999 грн
          a(href="#").show-more Показать еще

