extends _layout

block vars
  - var pageTitle = "delivery";
  - var pageClass = "delivery";
  - var pageActive = "delivery";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 Доставка и оплата
          p Отправка покупки осуществляется в тот же день, если заказ оформлен до 15:00. Если заказ оформлен после 15:00, он отправляется на следующий день. После оформления, высылаем номер ТТН, по которому можно отследить путь следования и предварительные сроки доставки на сайте Новой Почты.
          h2 Доставляем:
          p в отделение Новой Почты вашего города (стоимость 40-45 грн) курьером Новой Почты в руки заказчика по указанному адресу (60-65 грн) в Почтомат Новой Почты отделения вашего города, без возможности оформления оплаты наложенным платежом (40-45 грн) <br><br>
          p Мы поставляем уникальные инновационные секс-игрушки и товары для сексуального благополучия и объединились с некоторыми из самых веселых и захватывающих брендов, чтобы подарить вам самое лучшее из сексуального счастья. Вот лишь некоторые из нашего состава:<br><br>
          p Бесплатная доставка при сумме заказа более 800 грн. Оплатить покупку можно онлайн (оплата через LiqPay либо перевод денежных средств на карту ПриватБанка). Вся информация о заказе приходит на адрес электронной почты покупателя. Выбор наиболее удобного способа расчёта оставляем за клиентом.<br><br>
          p Также, возможен вариант наложенного платежа при получении посылки в отделении Новой Почты. При выборе данного варианта стоит учитывать, что к общей стоимости будет прибавлено 2% от суммы заказа и 20 грн за перевод денег отправителю.<br><br><br><br>
          p Все товары, приобретённые на сайте, отправляются ОДНОЙ посылкой, с соблюдением анонимности заказа. Делаем всё, чтобы вместе с желаемой покупкой каждый гость нашего магазина получал приятные впечатления от взаимовыгодного, вежливого и приятного общения с нами.



