extends _layout

block vars
  - var pageTitle = "faq";
  - var pageClass = "faq";
  - var pageActive = "faq";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 Частые вопросы
          p Мы прекрасно понимаем, что задавать вопросы на столь деликатную тему, как секс-игрушки и их выбор, бывает непросто. Специально для этого мы решили собрать ответы на наиболее часто задаваемые вопросы от наших покупателей в этом разделе.
          .dropdown
            .dropdown__block
              .dropdown__top
                .dropdown__top-txt Хотела заказать в подарок мужу секс-игрушку, но не знаю, какую выбрать. Что посоветуете?
                .dropdown__top-img
                  include ../img/images/plus.svg
                .dropdown__top-img.hidden
                  include ../img/images/minus.svg
              .dropdown__bottom Если вы только начинаете знакомство с миром секс-игрушек, лучше остановить свой выбор на небольшом и натуралистичном вибраторе. Также вы можете попробовать компактные игрушки виброяйца или трусики с вибрацией - они вряд ли смогут нарушить девственную плеву при аккуратном обращении.
            .dropdown__block
              .dropdown__top
                .dropdown__top-txt Какую игрушку (вибратор) выбрать, если я - девственница?
                .dropdown__top-img
                  include ../img/images/plus.svg
                .dropdown__top-img.hidden
                  include ../img/images/minus.svg
              .dropdown__bottom Если вы только начинаете знакомство с миром секс-игрушек, лучше остановить свой выбор на небольшом и натуралистичном вибраторе. Также вы можете попробовать компактные игрушки виброяйца или трусики с вибрацией - они вряд ли смогут нарушить девственную плеву при аккуратном обращении.
            .dropdown__block
              .dropdown__top
                .dropdown__top-txt Как выбрать размер секс-игрушки?
                .dropdown__top-img
                  include ../img/images/plus.svg
                .dropdown__top-img.hidden
                  include ../img/images/minus.svg
              .dropdown__bottom Если вы только начинаете знакомство с миром секс-игрушек, лучше остановить свой выбор на небольшом и натуралистичном вибраторе. Также вы можете попробовать компактные игрушки виброяйца или трусики с вибрацией - они вряд ли смогут нарушить девственную плеву при аккуратном обращении.
            .dropdown__block
              .dropdown__top
                .dropdown__top-txt Можно ли использовать секс-игрушки в душе?
                .dropdown__top-img
                  include ../img/images/plus.svg
                .dropdown__top-img.hidden
                  include ../img/images/minus.svg
              .dropdown__bottom Если вы только начинаете знакомство с миром секс-игрушек, лучше остановить свой выбор на небольшом и натуралистичном вибраторе. Также вы можете попробовать компактные игрушки виброяйца или трусики с вибрацией - они вряд ли смогут нарушить девственную плеву при аккуратном обращении.
            .dropdown__block
              .dropdown__top
                .dropdown__top-txt Нужны ли лубриканты при использовании игрушек для взрослых?
                .dropdown__top-img
                  include ../img/images/plus.svg
                .dropdown__top-img.hidden
                  include ../img/images/minus.svg
              .dropdown__bottom Если вы только начинаете знакомство с миром секс-игрушек, лучше остановить свой выбор на небольшом и натуралистичном вибраторе. Также вы можете попробовать компактные игрушки виброяйца или трусики с вибрацией - они вряд ли смогут нарушить девственную плеву при аккуратном обращении.
            .dropdown__block
              .dropdown__top
                .dropdown__top-txt Какие игрушки не только приятны, но и полезны для женщин?
                .dropdown__top-img
                  include ../img/images/plus.svg
                .dropdown__top-img.hidden
                  include ../img/images/minus.svg
              .dropdown__bottom Если вы только начинаете знакомство с миром секс-игрушек, лучше остановить свой выбор на небольшом и натуралистичном вибраторе. Также вы можете попробовать компактные игрушки виброяйца или трусики с вибрацией - они вряд ли смогут нарушить девственную плеву при аккуратном обращении.
          p Если ответа на ваш вопрос в этом разделе нет, не стесняйтесь задать нам его! Пишите нам в онлайн-чат или отправьте на электронную почту - контакты можно найти в соответствующем разделе сайта.




