extends _layout

block vars
  - var pageTitle = "garants";
  - var pageClass = "garants";
  - var pageActive = "garants";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 Гарантии
          p Мы предоставляем исключительно сертифицированные товары официальных производителей товаров для интима. Все позиции в нашем меню имеют сертификаты качества, они протестированы на предмет безопасности.
          h2 Возврат товара
          p Мы осуществляем возврат товара в случае выявленного заводского брака и при наличии полной комплектации товара, заводской упаковки и оплаченного чека. В таком случае возврат и замену мы произведём за счёт нашего магазина.<br><br>
          p В интернет-магазине представлены несколько категорий товаров, на которые не действует возможность возврата и обмена товара, согласно законодательству нашей страны. К таким товарам относятся:<br><br>
          p.small Нательное бельё и чулочно-носочные изделия.<br>Косметические средства и предметы личной гигиены.<br>Средства лекарственного назначения.<br>Аэрозоли.<br><br>
          p Пожалуйста, учитывайте невозможность возврата этих категорий товара при заказе в нашем интернет-магазине.


