extends _layout

block vars
  - var pageTitle = "guid";
  - var pageClass = "guid";
  - var pageActive = "guid";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 Инструкция
          p Помните о том, что игрушки для секса - это товары индивидуального использования. Это значит, что не стоит делиться своими игрушками с другими людьми, за исключением вашего постоянного партнёра. В этом случае стоит использовать презерватив.<br><br>
          p Для каждого типа игрушки производитель предусматривает подробную инструкцию по использованию. Не пренебрегайте инструкциями, тщательно изучите их перед тем, как начать пользоваться игрушками для взрослых.<br><br>
          p Помимо правильной эксплуатации очень важно правильно ухаживать за секс-игрушками. Их нужно тщательно мыть до и после использования с туалетным мылом или специальным средством, предназначенным для этого вида игрушек или материала.<br><br>
          p Помните о том, что хранить игрушки нужно в недоступном для детей и животных месте.


