extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";
block content
  div.main-wrap
    div.prevpage(style="padding-top: 275px; margin: 0 auto;  display: flex; justify-content: center; color: black; flex-direction: column; align-items: center; background-color: white;")
      a(href="about.html" style="margin-bottom: 10px") about
      a(href="confirm.html" style="margin-bottom: 10px") confirm
      a(href="contacts.html" style="margin-bottom: 10px") contacts
      a(href="content-page.html" style="margin-bottom: 10px") content-page
      a(href="contents.html" style="margin-bottom: 10px") contents
      a(href="delivery.html" style="margin-bottom: 10px") delivery
      a(href="faq.html" style="margin-bottom: 10px") faq
      a(href="garants.html" style="margin-bottom: 10px") garants
      a(href="guid.html" style="margin-bottom: 10px") guid
      a(href="oferta.html" style="margin-bottom: 10px") oferta
      a(href="sicret.html" style="margin-bottom: 10px") sicret
      a(href="size.html" style="margin-bottom: 10px") size
      a(href="index.html" style="margin-bottom: 10px") index
      a(href="vibroguide.html" style="margin-bottom: 10px") vibroguide
      a(href="guide1.html" style="margin-bottom: 10px") guide1
      a(href="guide2.html" style="margin-bottom: 10px") guide2
      a(href="guide3.html" style="margin-bottom: 10px") guide3
      a(href="guide4.html" style="margin-bottom: 10px") guide4
      a(href="guides.html" style="margin-bottom: 10px") guides
      a(href="errors.html" style="margin-bottom: 10px") errors