extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";
block content
  div.main-wrap
    div.prevpage(style="margin: 0 auto; height: 490px; display: flex; justify-content: center; color: black; flex-direction: column; align-items: center; background-color: white;")

