extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage";
  - var pageActive = "homepage";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block
        a(href="#").homepage-banner
          .homepage-banner__block
          .homepage-banner__block-txt Распродажа
          .homepage-banner__img
            picture
              source(srcset="./img/images/main-img.webp" type="image/webp")
              img(src="./img/images/main-img.png" alt="img")
        .product-list.custom-row
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item1.webp" type="image/webp")
                    img(src="./img/images/item1.png" alt="img")
                a(href="#").product-item__txt Двухсторонний вибратор для клитора и точки G siren svakom
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i 23 отзыва
                  .product-item__price
                    .product-item__price-sale 5700 грн
                    .product-item__price-actual.accent 2700 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item2.webp" type="image/webp")
                    img(src="./img/images/item2.png" alt="img")
                a(href="#").product-item__txt T dream II с пультом LRS, можно под одежду
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i
                  .product-item__price
                    .product-item__price-sale 4100 грн
                    .product-item__price-actual.accent 1999 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item3.webp" type="image/webp")
                    img(src="./img/images/item3.png" alt="img")
                a(href="#").product-item__txt Вибратор для клитора и зон G IRIS, сливовый SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i
                  .product-item__price
                    .product-item__price-sale 780 грн
                    .product-item__price-actual.accent 599 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item4.webp" type="image/webp")
                    img(src="./img/images/item4.png" alt="img")
                a(href="#").product-item__txt Вибратор для клитора и зон G IRIS, сливовый SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i 1 отзыв
                  .product-item__price
                    .product-item__price-sale 1999 грн
                    .product-item__price-actual.accent 999 грн
        a(href="#").show-more Показать еще
    .custom-block
      .custom-block__inner.page-block.page-block--pd480
        .slider-title Наши бренды
        .custom-slider-wrap
          .custom-slider.js_custom-slider
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/fifty.webp" type="image/webp")
                  img(src="./img/images/fifty.png" alt="img")
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/bath.webp" type="image/webp")
                  img(src="./img/images/bath.png" alt="img")
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/fun.webp" type="image/webp")
                  img(src="./img/images/fun.png" alt="img")
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/durex.webp" type="image/webp")
                  img(src="./img/images/durex.png" alt="img")
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/lelo.webp" type="image/webp")
                  img(src="./img/images/lelo.png" alt="img")
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/obsessive.webp" type="image/webp")
                  img(src="./img/images/obsessive.png" alt="img")
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/pjur.webp" type="image/webp")
                  img(src="./img/images/pjur.png" alt="img")
            .custom-slider__item-wrap
              a(href="#").custom-slider__item
                picture
                  source(srcset="./img/images/pjur.webp" type="image/webp")
                  img(src="./img/images/pjur.png" alt="img")
    .custom-block
      .custom-block__inner.page-block
        a(href="#").homepage-banner
          .homepage-banner__block
          .homepage-banner__block-txt Топ продаж
          .homepage-banner__img
            picture
              source(srcset="./img/images/top-sales.webp" type="image/webp")
              img(src="./img/images/top-sales.png" alt="img")
        .product-list.custom-row
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item1.webp" type="image/webp")
                    img(src="./img/images/item1.png" alt="img")
                a(href="#").product-item__txt Вибратор для клитора и зон G IRIS, сливовый SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i 23 отзыва
                  .product-item__price
                    .product-item__price-sale 5700 грн
                    .product-item__price-actual.accent 2700 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item2.webp" type="image/webp")
                    img(src="./img/images/item2.png" alt="img")
                a(href="#").product-item__txt T DREAM II С ПУЛЬТОМ LRS, МОЖНО ПОД ОДЕЖДУ
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i
                  .product-item__price
                    .product-item__price-sale 4100 грн
                    .product-item__price-actual.accent 1999 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item3.webp" type="image/webp")
                    img(src="./img/images/item3.png" alt="img")
                a(href="#").product-item__txt ВИБРАТОР ДЛЯ КЛИТОРА И ЗОН G IRIS, СЛИВОВЫЙ SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i
                  .product-item__price
                    .product-item__price-sale 780 грн
                    .product-item__price-actual.accent 599 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item4.webp" type="image/webp")
                    img(src="./img/images/item4.png" alt="img")
                a(href="#").product-item__txt ВИБРАТОР ДЛЯ КЛИТОРА И ЗОН G IRIS, СЛИВОВЫЙ SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i 1 отзыв
                  .product-item__price
                    .product-item__price-sale 1999 грн
                    .product-item__price-actual.accent 999 грн
        a(href="#").show-more Показать еще
    .custom-block
      .custom-block__inner.page-block
        a(href="#").homepage-banner
          .homepage-banner__block
          .homepage-banner__block-txt НОВИНКИ
          .homepage-banner__img
            picture
              source(srcset="./img/images/news2.webp" type="image/webp")
              img(src="./img/images/news2.png" alt="img")
        .product-list.custom-row
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item1.webp" type="image/webp")
                    img(src="./img/images/item1.png" alt="img")
                a(href="#").product-item__txt Вибратор для клитора и зон G IRIS, сливовый SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i 23 отзыва
                  .product-item__price
                    .product-item__price-sale 5700 грн
                    .product-item__price-actual.accent 2700 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item2.webp" type="image/webp")
                    img(src="./img/images/item2.png" alt="img")
                a(href="#").product-item__txt T DREAM II С ПУЛЬТОМ LRS, МОЖНО ПОД ОДЕЖДУ
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i
                  .product-item__price
                    .product-item__price-sale 4100 грн
                    .product-item__price-actual.accent 1999 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item3.webp" type="image/webp")
                    img(src="./img/images/item3.png" alt="img")
                a(href="#").product-item__txt ВИБРАТОР ДЛЯ КЛИТОРА И ЗОН G IRIS, СЛИВОВЫЙ SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i
                  .product-item__price
                    .product-item__price-sale 780 грн
                    .product-item__price-actual.accent 599 грн
          .custom-col.custom-col--25
            .product-item
              .product-item__inner
                a(href="javascript:void(0)").product-item__ico
                  include ../img/images/star.svg
                .product-item__absolute-txt Товар заканчивается!
                a(href="#").product-item__img
                  picture
                    source(srcset="./img/images/item4.webp" type="image/webp")
                    img(src="./img/images/item4.png" alt="img")
                a(href="#").product-item__txt ВИБРАТОР ДЛЯ КЛИТОРА И ЗОН G IRIS, СЛИВОВЫЙ SVAKOM (США)
                .product-item__bottom
                  .product-item__rate
                    a(href="#").product-item__rate-i 1 отзыв
                  .product-item__price
                    .product-item__price-sale 1999 грн
                    .product-item__price-actual.accent 999 грн
        a(href="#").show-more Показать еще
    .custom-block
      .custom-block__inner.page-block.page-block--768pd0
        .homepage-title.homepage-title--pdl15 Интересное
        a(href="#").img-block
          .img-block__left
            .homepage-title.homepage-title--white Секс в ванной
            .img-block__txt Сексуальное прозрачное нижнее белье BabeiCui, кружевное женское нижнее белье, стринги, трусики с низкой талией, забавное белье, танга с Т-образной спиной
          .img-block__right
            picture
              source(srcset="./img/images/intresting1.webp" type="image/webp")
              img(src="./img/images/intresting1.png" alt="img")
        a(href="#").img-block
          .img-block__left
            .homepage-title.homepage-title--white Крутые места для романтики
            .img-block__txt Сексуальное прозрачное нижнее белье BabeiCui, кружевное женское нижнее белье, стринги, трусики с низкой талией, забавное белье, танга с Т-образной спиной
          .img-block__right
            picture
              source(srcset="./img/images/intresting2.webp" type="image/webp")
              img(src="./img/images/intresting2.png" alt="img")
        a(href="#").img-block
          .img-block__left
            .homepage-title.homepage-title--white Новые игрушки для нее
            .img-block__txt Сексуальное прозрачное нижнее белье BabeiCui, кружевное женское нижнее белье, стринги, трусики с низкой талией, забавное белье, танга с Т-образной спиной
          .img-block__right
            picture
              source(srcset="./img/images/intresting3.webp" type="image/webp")
              img(src="./img/images/intresting3.png" alt="img")
    .custom-block
      .custom-block__inner.page-block.page-block--pd20
        .homepage-title Как пользоваться
        .info-block.custom-row
          .custom-col.custom-col--25.custom-col--100
            .info-block__item
              a(href="#").info-block__img
                picture
                  source(srcset="./img/images/how1.webp" type="image/webp")
                  img(src="./img/images/how1.png" alt="img")
              a(href="#").info-block__title Молочные продукты и секс
              .info-block__txt Да, вы угадали, будем разбираться в заблуждениях о сексе, пока ... Миф шестой: мёд и грецкие орехи...
          .custom-col.custom-col--25.custom-col--100
            .info-block__item
              a(href="#").info-block__img
                picture
                  source(srcset="./img/images/how2.webp" type="image/webp")
                  img(src="./img/images/how2.png" alt="img")
              a(href="#").info-block__title Лучшие позы недели
              .info-block__txt Да, вы угадали, будем разбираться в заблуждениях о сексе, пока ... Миф шестой: мёд и грецкие орехи...
          .custom-col.custom-col--25.custom-col--100
            .info-block__item
              a(href="#").info-block__img
                picture
                  source(srcset="./img/images/how3.webp" type="image/webp")
                  img(src="./img/images/how3.png" alt="img")
              a(href="#").info-block__title Контрацепция
              .info-block__txt Медики назвали 10 самых полезных продуктов в мире: перечень ...
          .custom-col.custom-col--25.custom-col--100
            .info-block__item
              a(href="#").info-block__img
                picture
                  source(srcset="./img/images/how4.webp" type="image/webp")
                  img(src="./img/images/how4.png" alt="img")
              a(href="#").info-block__title Крутые места недели
              .info-block__txt Да, вы угадали, будем разбираться в заблуждениях о сексе, пока ... Миф шестой: мёд и грецкие орехи...
    .custom-block.custom-block--mgb200
      .custom-block__inner.page-block.page-block--pd20
        .homepage-title Сексшоп онлайн - лучший выбор<br> товаров для взрослых в интернете
        .homepage-txt Секс - это не рутинный процесс, а настоящее искусство. Достичь совершенства в нём вам помогут товары для взрослых - приспособления, которые позволяют постичь новые грани удовольствия в постели. А купить товары для взрослых вы можете, не выходя из дома, ведь к вашим услугам наш магазин - сексшоп онлайн.
        .homepage-txt Нередко посещение магазина для взрослых вызывает смущение, а то и стойкий запрет: не каждому хочется, чтобы о его предпочтениях в интимной жизни знали продавцы-консультанты магазина или посетители сексшопа. К тому же, не у всех такой магазин есть поблизости. Чтобы решить обе эти проблемы и купить нужные вам секс-продукты, достаточно заглянуть на наш сайт - магазин сексшоп в интернет-пространстве, где собрано немало интересного.
        .homepage-title.homepage-title--mgt70 Сексшоп - ваш верный<br> помощник в интимной сфере
        .homepage-txt Не секрет, что сексуальное удовлетворение - это процесс, который позволяет снять стресс, поднять уровень гормонов счастья в организме, получить положительные эмоции и просто улучшить самочувствие. И наш интернет-магазин для взрослых - ваш помощник на пути к самым ярким оргазмам. Когда вам хочется разнообразия в сексе, когда нужно удивить партнёра или вызвать его желание, когда вы любите экспериментировать или хотите раскрепоститься - во всех этих случаях товары из магазина-сексшопа будут как нельзя кстати.
        ul.homepage-listing
          li.homepage-listing__item Среди ассортимента нашего интернет-магазина для взрослых вы сможете найти не только игрушки для взрослых для реализации ваших фантазий, но и косметику для интимной сферы, необычное бельё, экстравагантный подарок для второй половинки и многое другое.
          li.homepage-listing__item Мы заботимся о репутации нашего сексшопа и тщательно отбираем продукцию для взрослых, представленную в каталоге магазина: все гели для разогрева, вибраторы, снадобья и игрушки имеют сертификаты качества, они безопасны для контакта с кожей и применения в ходе интима.
          li.homepage-listing__item Мы на практике испытываем эффективность наших игрушек для взрослых и всегда готовы предоставить нашим заказчикам полную инструкцию и информацию об особенностях того или иного приспособления. В нашем сексшопе вы сможете получить подробную консультацию анонимно через интернет и узнаете точно, как выбрать игрушки для взрослых, как за ними ухаживать, прежде, чем заказать их.
          li.homepage-listing__item Цена - один из важнейших факторов при любой покупке. Мы стремимся к тому, чтобы купить товары для взрослых в секшопе у нас мог каждый клиент.
        .homepage-title.homepage-title--mgt70  Почему наш сексшоп онлайн - это удобно?
        .homepage-txt Сексшоп в онлайне - это ваша возможность без смущения заказать нужные вам секс-игрушки для взрослых в интернете и получить их на условиях полной конфиденциальности прямо в руки. Мы обеспечиваем доставку из сексшопа курьером, причём каждая посылка собрана таким образом, чтобы упаковка не могла выдать её содержимое. То есть, ваши личные увлечения и фантазии будете знать только вы сами и консультант сексшопа, который собирал ваш заказ.
        .homepage-txt Ещё один аргумент в пользу онлайн секшопа - это цена. Игрушки для взрослых в нашем магазине можно купить дешевле, чем в любой оффлайн-точке продаж. Загляните в каталог нашего магазина-сексшопа - и убедитесь в огромном выборе игрушек и косметики для секса по доступной стоимости.







