extends _layout

block vars
  - var pageTitle = "oferta";
  - var pageClass = "oferta";
  - var pageActive = "oferta";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 ДОГОВОР ПУБЛИЧНОЙ ОФЕРТЫ КУПЛИ-ПРОДАЖИ ТОВАРОВ
          p Отправка покупки осуществляется в тот же день, если заказ оформлен до 15:00. Если заказ оформлен после 15:00, он отправляется на следующий день. После оформления, высылаем номер ТТН, по которому можно отследить путь следования и предварительные сроки доставки на сайте Новой Почты.
          ol
            li Общие положения
              ol
                li Настоящий договор является договором публичной оферты (в соответствии со ст.ст. 633, 641 и гл. 54 Гражданского кодекса Украины), его условия одинаковы для всех покупателей независимо от статуса (физическое лицо, юридическое лицо, физическое лицо – предприниматель).
                li В случае принятия условий настоящего договора, т.е. публичной оферты Продавца, потребитель становится Покупателем.
                li В случае принятия условий настоящего договора, т.е. публичной оферты Продавца, потребитель становится Покупателем.
            li Термины и определения


