extends _layout

block vars
  - var pageTitle = "sicret";
  - var pageClass = "sicret";
  - var pageActive = "sicret";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 Конфиденциальность
          p Наш интернет-магазин ставит конфиденциальность ваших данных превыше всего. При авторизации на нашем сайте вы указываете данные своей электронной почты и/или номер телефона. Эта информация используется консультантами исключительно в ознакомительных целях и ни в коем случае не может быть передана третьим лицам. Данные о заказах покупателей также не хранятся и не используются кроме как для выполнения этих заказов.<br><br>
          p Что касается доставки ваших заказов из нашего интернет-магазина, мы используем специальную непрозрачную упаковку для транспортировки ваших покупок. Это значит, что любой ваш заказ будет сохранён в тайне, и ни курьер, ни сотрудники транспортной компании не будут поставлены в известность о содержимом вашей посылки.<br><br>
          p С нашим интернет-магазином вы сможете безопасно и быстро заказывать товары для секса онлайн с соблюдением всех мер анонимности и конфиденциальности.



