extends _layout

block vars
  - var pageTitle = "size";
  - var pageClass = "size";
  - var pageActive = "size";
block content
  .main
    .custom-block.custom-block--top
      .custom-block__inner.page-block.page-block--pd20
        .seo-block
          h1 Сетка размеров
          p Чтобы ваш заказ гарантировано принёс вам удовольствие, очень важно правильно выбрать размер. Особенно это важно для категории товаров эротической одежды и белья. Мы составили для вас удобную размерную сетку, с помощью которой подбор одежды и белья онлайн станет для вас простым делом.<br><br>
          p Обратите внимание, что для категорий мужской и женской одежды, а также колготно-чулочной продукции предусмотрены разные таблицы. Руководствуйтесь ими при выборе подходящего вам размера.<br><br>
          p Для того, чтобы снять мерки перед заказом, возьмите портняжную ленту и измерьте ключевые параметры из таблицы. Старайтесь не втягивать живот и не занижать полученные параметры, чтобы получить вещь по размеру.<br><br>
          p Также вы можете обратиться к нашим консультантам и получить развёрнутый ответ на ваши вопросы, касающиеся размеров одежды или белья, представленных в нашем интернет-магазине.


